{% extends 'base.html' %}
{% block title %} Registration Page {% endblock %}
{% block content %}
<html>
<head>
  <title>Account Registration</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<section class="header">
		<nav>
			<a href="https://apollo-is.com/"><img src="{{ url_for('static', filename='images/logo.png')}}"></a>
			<div class="links">
				<ul>
					<li><a href="{{ url_for('home') }}" title="login"> Login </a></li>
            	</ul>
			</div>
		</nav>
	{% if Error_msg %}
		<h3 style="color: red; position: absolute; left: 43%; top: 30%;">{{Error_msg}}</h3>
	{%endif%}
	<div class = "input">
        <h1>AIS Web Scraper Registration</h1>
	    <h2>Please enter the requested information below!</h2>
		<br><br>
		<form method="POST" action="/register">
    		<div class="input-group">
  	  			<label>Name:</label>
  	  			<input type="text" maxlength="15" name="name">
  			</div>
  			<div class="input-group">
  	  			<label>Email:</label>
  	  			<input type="text" maxlength="50" name="email">
  			</div>
  			<!-- <div class="input-group">
  	  			<label>Password:</label>
  	  			<input type="password" maxlength="30" name="password">
  			</div> -->
			<br>
			<div class="nightly-mail">
				<input type="checkbox" id="n-mail" name="n-mail" style="position: absolute; left: 47%; top: 42%;">
                <label for="n-mail" id="check_label" style="font: consolas; position: absolute; right: 44%; top: 41%; width: 150px;"> Subscribe to our weekly news letter</label>
			</div>
  			<div class="input-group">
  	  			<button type="submit" class="btn" name="register">register</button>
  			</div>
  			<p>
  				<br>already registered? <a href="{{ url_for('home') }}">Sign In</a>
  			</p>
  		</form>
		  	<center><span style = "color: red"><?php if (isset($password_error)) echo $password_error; ?></span>
			<span style = "color: red"><?php if (isset($cpassword_error)) echo $cpassword_error; ?></span></center>
	</div>
</section>
</body>
</html>
{% endblock%}